########################################
# Manual Camera Control (watchdog-aware)
########################################

[gcode_shell_command stop_internal_cam]
command: /usr/data/camera_macro_ctl.sh stop_internal
timeout: 10.0
verbose: True

[gcode_shell_command start_internal_cam]
command: /usr/data/camera_macro_ctl.sh start_internal
timeout: 15.0
verbose: True

[gcode_shell_command stop_external_cam]
command: /usr/data/camera_macro_ctl.sh stop_external
timeout: 10.0
verbose: True

[gcode_shell_command start_external_cam]
command: /usr/data/camera_macro_ctl.sh start_external
timeout: 15.0
verbose: True

[gcode_macro STOP_INTERNAL_CAM]
description: Stop the internal printer camera stream
gcode:
    RUN_SHELL_COMMAND CMD=stop_internal_cam

[gcode_macro START_INTERNAL_CAM]
description: Start the internal printer camera stream
gcode:
    RUN_SHELL_COMMAND CMD=start_internal_cam

[gcode_macro STOP_EXTERNAL_CAM]
description: Stop the external USB camera stream
gcode:
    RUN_SHELL_COMMAND CMD=stop_external_cam

[gcode_macro START_EXTERNAL_CAM]
description: Start the external USB camera stream
gcode:
    RUN_SHELL_COMMAND CMD=start_external_cam
